<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="page-header" th:text="${msg}"></div>
    <button class="btn btn-primary" onclick="getAccounts()">获取</button>
    <div id="accounts"></div>
</div>


<script src="/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function getAccounts() {
        var eAccounts = $("#accounts");
        $.post("/account/accounts",
        function (data) {
            for(var i = 0; i < data.length; i++){
                var account = data[i];
                console.log(account);
                $.each(account,function (key,value) {
                    eAccounts.append(key + ":" + value)
                });
            }
        });
    }

</script>
</body>

</html>
