<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="love.xuqinqin.suiMark.mapper.MarkMapper">

    <insert id="addMark" useGeneratedKeys="true" keyProperty="id"
            parameterType="love.xuqinqin.suiMark.model.Mark">

        insert into mark(creator, content, creat_time, editor_time, status)
        values (#{creator}, #{content}, #{creat_time}, #{editor_time}, #{status});

    </insert>

    <select id="getMarkByCreator" resultType="love.xuqinqin.suiMark.model.Mark">

        select id, creator, content, creat_time, editor_time, status
        from mark
        where creator = #{creator};

    </select>

    <update id="updateMark" parameterType="love.xuqinqin.suiMark.model.Mark">

        update mark
        set content     = #{content},
            editor_time = #{editor_time},
            status      = #{status}
        where id = #{id}

    </update>

</mapper>